* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/emargement-esgis/frontend/assets/images/onboading-one/onboading.jpg') no-repeat center center/cover;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.next-button {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: #0e6e7e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #0a5964;
}

.arrow {
    color: white;
    font-size: 24px;
}

/* Styles pour l'écran de chargement */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/emargement-esgis/frontend/assets/images/onboading-one/load.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

.loader {
    width: 60px;
    height: 60px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fefefe;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.content.visible {
    opacity: 1;
}


 